* {
    margin: 0;
    padding: 0;  
}

body {
    background: fixed center;
    background-image: url(../assets/background/bg-img.jpg);

    overflow-x: hidden;
}

#navinav {
    width: 100%;
    height: 20px;
    position: fixed;
    padding: 3em 2rem;
    margin-bottom: auto;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar-nav{
    justify-content: end;
}

.nav-toggle {
    display: none;
}

.container-main, .container-cards {
    display: grid;
    margin: 5vh;
    margin-top: 10em;
}

.container-cards {
    justify-items: center;
}

.card {
    border: 1px solid #ccc;
    position: relative;
    height: auto;
    max-width: 300px;
    margin: 8vh auto;
    -webkit-box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.57); 
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.57);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.13);
    
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.1) rotate(-5deg);
}

.card-body {
    justify-content: center;
    padding-top: 30%;
    margin: auto 2vh;
}

.card .btn {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 3px 1px #000;
    box-shadow: 0px 0px 3px 1px inherit;
    border: 1px solid #ccc;

}

.card-img-top {
    position: absolute;
    align-items: center;
    top: 0;
    max-width: 70%;
    height: auto;
    margin-top: -25%;
}

.menu-top {
    margin-top: -35%;
}

@media (min-width: 600px) {
    .lyt {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media (max-width: 768px){
    .navbar-nav {
        inset: 0 0 0 50%;
        position: fixed;
        align-items: flex-start;
        justify-content: start;
        padding: min(15vh, 10rem) 2em;
        background: hsl(0 0% 100% / 0.1);
        transform: translateX(100%);
        transition: transform 450ms ease-out;
    }

    .navbar-nav[data-visible="true"] {
        transform: translateX(0%);
    }

    .nav-toggle {
        display: block;
        position: absolute;

        background-image: url("../assets/icons/ham-menu.png");
        background-color: transparent;
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 9999;
        border: 0;
        width: 2rem;
        height: 2rem;
        top: 2rem;
        right: 2rem;
    }
    
    .nav-toggle[aria-expanded="true"] {
        background-image: url("../assets/icons/cross-menu.png");
    }

    @supports (backdrop-filter: blur(2px)) {
        .navbar-nav {
            backdrop-filter: blur(2px);
        }
    }
}

@supports (backdrop-filter: blur(2px)) {
    .card {
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
    }
    .modal-content {
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
    }
    
    .accordion {
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
    }
}

.container-text {
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    width: inherit;
    height: auto;
}

.modal img {
    width: 100%;
}

.modal .form-group {
    margin-top: -19px;
}

.modal select, .modal button, .modal input {
    border-radius: 15px;
}

.modal-footer {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: space-around;
}

.modal-content {
    -webkit-box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.57); 
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.57);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.13);
}

.container-img {
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    width: inherit;
    height: auto;
}


.container-img img {
    overflow: hidden;
    min-height: auto;
    min-width: 20%;
    max-width: 100%;
    height: auto;
}

#navinav a:hover{
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.container-boutons {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

footer {
    background-color: #232323;
}

.carousel {
    margin: 0 auto;
    padding: 0;
    width: 35%;
    height: auto;
    overflow: hidden;
}  

.carousel-item {
    height: 500px;
    overflow: hidden;
    width: 100%;
}

.carousel-item img {
    width: 100%;
}

.container-boutons .btn {
    justify-content: center;
    border-radius: 15px;
    margin: 1rem 3rem;
    padding: 0.5rem 0.5rem;
    -webkit-box-shadow: 0px 0px 3px 1px #000;
    box-shadow: 0px 0px 3px 1px inherit;
    border: 1px solid #ccc;
    width: 20vh;
    height: auto;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

a[class="nav-link"] {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.bi-cart, .bi-person-circle {
    font-size: 25px;
    margin: 0 .25em;
}